body {
    color: #f7f7f7;
    background-color: #d6040462;
  }
  .jumbotron {
    background-image: url("../images/Mental.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
  .jumbo {
    margin: auto;
    width: 1000px;
    height:500px;
    border: 5px solid #000000;
    padding: 10px;
  }
  .center {
    margin: auto;
    width: 1060px;
    height:1090px;
    border: 5px solid #000000;
    padding: 10px;
  }
  .right {
    margin: auto;
    width: 60%;
    height:280px;
    border: 5px solid #000000;
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: x-large;
  }
  .left {
    margin: auto;
    width: 60%;
    height:280px;
    border: 5px solid #000000;
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: large;
  }
  .grid-container {
    display: inline-grid;
  }
  .chart1 {
    margin: auto;
    background-image: url("../images/DiagnosedAgeGroups.png");
    background-size: cover;
    background-position:50% 50%;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: xx-large;
  
  }
  .chart2 {
    margin: auto;
    background-image: url("../images/DiagnosedCompanySize.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    
  }
  .chart3 {
    margin: auto;
    background-image: url("../images/DiagnosedFamilyHistory.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    
  }
  .chart4 {
    margin: auto;
    background-image: url("../images/DiagnosedGender.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    
  }
  .chart5 {
    margin: auto;
    background-image: url("../images/DiagnosedSelfEmployed.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    
  }
  .chart6 {
    margin: auto;
    background-image: url("../images/DiagnosedTechCompany.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    
  }  
  .chart7 {
    margin: auto;
    background-image: url("../images/DiagnosedTechRole.png");
    background-size: 100% 100%;
    background-position:50% 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    
  }
.chartimg {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
  .scrollable {
    overflow-y: auto !important;  // Use !important only if there is already an overflow style rule for this element and you want to override
  }  
  .datalist {
    max-height: 500px;
    overflow-y: auto;
}
.tbody {
  height: 200px;
  overflow-y: scroll;
}
.table{
  overflow-y:scroll;
  height:1000px;
  display:block;
}
.div_before_table {
  overflow:hidden;
  overflow-y: scroll;
  height: 500px;
}

